
.card{
    height: 715px;
    width: 400px;
    background: #000000 !important;
    border: 1px solid #575757;
    margin-left: 50px;
    margin-right: 50px;
    overflow: hidden;
}



.headerbackgroundimg1{
    background: url(../../img/invest_header1.png) no-repeat;
    margin-top: -18px;
    margin-left: -5px;
    height: 580px;
}

@media (max-width: 768px) { 
    

.headerbackgroundimg1{
    background: url(../../img/invest_header1.png) no-repeat;
    margin-top: -18px;
    margin-left: -5px;
    height: 780px;
}
 }


 @media (max-width: 992px) { 
 .hideonsmall{
  display: none;
}
 }


 @media (min-width: 768px) { 
 .myspace{
  padding-left: 50px;
  padding-right: 50px;
}
 }


.card-img-top{
    height: 201px !important;
}

.navbarcategories{
    margin-bottom: 25px;
}

.navbarcategories .nav-item{
    margin-left: 25px;
    margin-right: 25px;
}




.currentpageheadertitle{
    margin-bottom: 30px;
}

.imgheader{
    height: 80px;
}



.scrolling-wrapper .card-text {
    white-space: normal;
}

.card-img-top
    {
      position: relative;
      top: 0;
      left: 0;
    }
    .img_overlay
    {
      position: absolute;
      top: 150px;
      left: 140px;
      height: 100px;
    }


    #myProgress {
        width: 100%;
        background-color: #2E2E2E;
      }
      
      #myBar {
        width: 30%;
        height: 22px;
        background-color: #FF5757;
      }

      #myProgress_header{
        width: 100%;
        background-color: #2E2E2E;
      }
      
      #myBar_header {
        width: 70%;
        height: 22px;
        background-color: #FF5757;
      }


      .textsameline_header{
        margin-top: -24px;
      }

      .textsameline{
        margin-top: -22px;
      }

      .rightborder{
          border-right: 1px solid #797777;
      }

      .leftborder{
          border-left: 1px solid #797777;
      }

      .displayoverfunding{
          color: #50B573;
          display: none;
          margin-top: -18px;
      }


      .img_logo_for_invest_details{
          height: 50px;
      }

      .navdetails .nav-item{
        margin-left: 40px;
        margin-right: 40px;
    }


.navdetails .navbar-nav .active{
    border-bottom: 5px solid #FF1717;
        bottom: -10px;
        padding-left:  40px;
        padding-right: 40px;
}

.btn-custome{
  font-family: Raleway-SemiBold;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 35px;
    border: 2px solid #1F1F1F;
    border-radius: 50px;
    background: #1F1F1F;
    transition: all 0.3s ease 0s;
}

