.marginleft_1{
    margin-left: 1px;
}

.marginleft_2{
    margin-left: 2px;
}

.marginleft_3{
    margin-left: 3px;
}

.marginleft_4{
    margin-left: 4px;
}

.marginleft_5{
    margin-left: 5px;
}

.marginleft_6{
    margin-left: 6px;
}

.marginleft_7{
    margin-left: 7px;
}

.marginleft_8{
    margin-left: 8px;
}

.marginleft_9{
    margin-left: 9px;
}

.marginleft_10{
    margin-left: 10px;
}

.marginleft_11{
    margin-left: 11px;
}

.marginleft_12{
    margin-left: 12px;
}

.marginleft_13{
    margin-left: 13px;
}

.marginleft_14{
    margin-left: 14px;
}

.marginleft_15{
    margin-left: 15px;
}

.marginleft_16{
    margin-left: 16px;
}

.marginleft_17{
    margin-left: 17px;
}

.marginleft_18{
    margin-left: 18px;
}

.marginleft_19{
    margin-left: 19px;
}

.marginleft_20{
    margin-left: 20px;
}

.marginleft_21{
    margin-left: 21px;
}

.marginleft_22{
    margin-left: 22px;
}

.marginleft_23{
    margin-left: 23px;
}

.marginleft_24{
    margin-left: 24px;
}

.marginleft_25{
    margin-left: 25px;
}