.marginright_1{
    margin-right: 1px;
}

.marginright_2{
    margin-right: 2px;
}

.marginright_3{
    margin-right: 3px;
}

.marginright_4{
    margin-right: 4px;
}

.marginright_5{
    margin-right: 5px;
}

.marginright_6{
    margin-right: 6px;
}

.marginright_7{
    margin-right: 7px;
}

.marginright_8{
    margin-right: 8px;
}

.marginright_9{
    margin-right: 9px;
}

.marginright_10{
    margin-right: 10px;
}

.marginright_11{
    margin-right: 11px;
}

.marginright_12{
    margin-right: 12px;
}

.marginright_13{
    margin-right: 13px;
}

.marginright_14{
    margin-right: 14px;
}

.marginright_15{
    margin-right: 15px;
}

.marginright_16{
    margin-right: 16px;
}

.marginright_17{
    margin-right: 17px;
}

.marginright_18{
    margin-right: 18px;
}

.marginright_19{
    margin-right: 19px;
}

.marginright_20{
    margin-right: 20px;
}

.marginright_21{
    margin-right: 21px;
}

.marginright_22{
    margin-right: 22px;
}

.marginright_23{
    margin-right: 23px;
}

.marginright_24{
    margin-right: 24px;
}

.marginright_25{
    margin-right: 25px;
}