body{
    color: #FFFFFF;
    background: #000000;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #FFFFFF;
  }
  
  a:hover{
      color: #FFFFFF;
      text-decoration: none;
  }

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #000000;
    padding: 25px;
  }


.btn-custome{
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid #CDCDCD;
  border-radius: 40px;
  background: #CDCDCD;
  transition: all 0.3s ease 0s;
}

.bg-dark{
    background: #000000 !important;
}



.headerbackgroundimg{
    background: url(../../img/bgheaderimg.png) no-repeat;
    margin-top: -18px;
    margin-left: -5px;
    height: 480px;
}

.my_text_color{
    color: #FFFFFF;
}




.borderright{
    border-right: 1px solid #5A5A5A;
}


.borderleft{
    border-right: 1px solid #5A5A5A;
}


.btn-invest, .btn-action {
    background-image: linear-gradient(to right, #F94F4F , #EE2D9A);
    padding-left: 50px;
    padding-right: 50px;
    color: #FFFFFF;
}

.imgside{
    height: 350px;
}

.my_description{
    background: #000000;
}


.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    text-align: center;
  }

.scrolling-wrapper > .card {
    display: inline-block;
    margin: 5px;
  }

  .imgmain{
      height: 303px;
      width: 217px;
  }

  .scrolling-wrapper::-webkit-scrollbar { width: 0 !important }


  .description_1{
    margin-top: 100px;
    margin-bottom: 100px;
}

  .description_2{
      margin-top: 75px;
      margin-bottom: 100px;
  }

  .description_3{
    margin-top: 75px;
    margin-bottom: 125px;
}

.page-footer a{
    color: #FFFFFF;
}

.footericon{
    height: 38px;
}

.btn_my_pitch{
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid #CDCDCD;
  border-radius: 40px;
  width: 100px;
  background: #CDCDCD;
  transition: all 0.3s ease 0s;
}


#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 20%;
    /* float: left; */
    position: relative
}

#progressbar [step1]:before {
    font-family: FontAwesome;
    content: "1"
}

#progressbar [step2]:before {
    font-family: FontAwesome;
    content: "2"
}

#progressbar [step3]:before {
    font-family: FontAwesome;
    content: "3"
}

#progressbar [step4]:before {
    font-family: FontAwesome;
    content: "4"
}

#progressbar [step5]:before {
    font-family: FontAwesome;
    content: "5"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background: #171717;
    border-radius: 50%;
    /* margin: 0 auto 10px auto; */
    padding: 2px
}

/* #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
} */

#progressbar li.active:before,
#progressbar li.active:after {
    background: #747474;
}

.connector {
    width: 100%;
    height: 2px;
    background: white;
    /* margin: 0 10px; */
}


#msform .action-button-previous {
    background: #1A1A1A;
    color: white;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 7px 30px;
    margin: 10px 5px;
    vertical-align: middle;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}
