body{
    color: #FFFFFF;
    background: #000000;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #FFFFFF;
  }
  
  a:hover{
      color: #FFFFFF;
      text-decoration: none;
  }

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #000000;
    padding: 25px;
  }


.btn-custome{
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid #CDCDCD;
  border-radius: 40px;
  background: #CDCDCD;
  transition: all 0.3s ease 0s;
}

.bg-dark{
    background: #000000 !important;
}



.headerbackgroundimg{
    background: url(../../img/bgheaderimg.png) no-repeat;
    margin-top: -18px;
    margin-left: -5px;
    height: 480px;
}

.my_text_color{
    color: #FFFFFF;
}




.borderright{
    border-right: 1px solid #5A5A5A;
}


.borderleft{
    border-right: 1px solid #5A5A5A;
}


.btn-invest{
    background-image: linear-gradient(to right, #F94F4F , #EE2D9A);
    padding-left: 50px;
    padding-right: 50px;
    color: #FFFFFF;
}

.imgside{
    height: 350px;
}

.my_description{
    background: #000000;
}


.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    text-align: center;
  }

.scrolling-wrapper > .card {
    display: inline-block;
    margin: 5px;
  }

  .imgmain{
      height: 303px;
      width: 217px;
  }

  .scrolling-wrapper::-webkit-scrollbar { width: 0 !important }


  .description_1{
    margin-top: 100px;
    margin-bottom: 100px;
}

  .description_2{
      margin-top: 75px;
      margin-bottom: 100px;
  }

  .description_3{
    margin-top: 75px;
    margin-bottom: 125px;
}

.page-footer a{
    color: #FFFFFF;
}

.footericon{
    height: 38px;
}

.btn_my_pitch{
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid #CDCDCD;
  border-radius: 40px;
  width: 100px;
  background: #CDCDCD;
  transition: all 0.3s ease 0s;
}